/* THEME OPTIONS ************************** */

/* GLOBAL ********************************* */
/* ----- Custom Fonts ---------------- */
@import url(http://fonts.googleapis.com/css?family=Noto+Sans|Noto+Serif);

/* ----- Body ------------------------ */
body {
	background: #F0E9D1;
	font-family: 'Noto Sans', sans-serif;
}

#content-wrapper, .region {
	background: #fff;
}


/* ----- Text ------------------------ */
h1, h2, h3 {
	font-family: 'Noto Serif', serif;
}

#site-name {
	font-family: 'Noto Serif', serif;
	font-size: 32px;
	line-height: 40px;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.6em;
}

.summary {
	font-size: 1.4em;
}

.colored, .views-label {
	color: #7a0019;
}

.views-field-field-name, .views-label {
	font-weight: bold;
}

.views-table caption {
	font-family: 'Noto Serif', sans-serif;
	font-weight: bold;
}

.node-training-site .field-type-text-long, .node-training-site .field-type-phone, .node-training-site .field-type-url, .node-training-site .field-type-link-field, .node-training-site .field-type-location, .node-training-site .field-type-text-with-summary {
	padding-left: 240px;
}

.views-view-grid .views-field-field-name, .views-view-grid .views-field-field-medical-school, .views-view-grid .views-field-field-awards-and-honors, .views-view-grid .views-field-field-research-interests {
	padding-left: 140px;
}

.heading_bg_rotationschedules, .heading_bg_program_dept, .heading_bg_confs, .heading_bg_implinks {
    position: relative;
    padding-left: 1.2em;
}
 
.heading_bg_rotationschedules:before {
    content: "\f073";
    font-family: FontAwesome;
    padding-right: 5px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.heading_bg_confs:before {
    content: "\f0c0";
    font-family: FontAwesome;
    padding-right: 5px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.heading_bg_program_dept:before {
    content: "\f02d";
    font-family: FontAwesome;
    padding-right: 5px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.heading_bg_implinks:before {
    content: "\f0c1";
    font-family: FontAwesome;
    padding-right: 5px;
    position: absolute;
    top: 0px;
    left: 0px;
}

/* ----- Links ----------------------- */
a, .biblio-title a {color: #7a0019;}
a:hover {color: #5b0013;}


/* ----- Lists ----------------------- */
/* ----- Tables ---------------------- */
th {
color: white;
background: #7a0019; /* Old browsers */
background: -moz-linear-gradient(top,  #7a0019 0%, #5b0013 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7a0019), color-stop(100%,#5b0013)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #7a0019 0%,#5b0013 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #7a0019 0%,#5b0013 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #7a0019 0%,#5b0013 100%); /* IE10+ */
background: linear-gradient(to bottom,  #7a0019 0%,#5b0013 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7a0019', endColorstr='#5b0013',GradientType=0 ); /* IE6-9 */
}

tr.even {
	background: #eeeeee;
}

.views-table {
	width: 100%;
}

.views-table caption {
	font-size: 1.5em;
	padding-top: 20px;
	padding-bottom: 5px;
	text-align: left;
}

.views-view-grid.cols-2 {
    width: 100%;
}
.cols-2 .col-1, .cols-2 .col-2 {
    width: 50%;
}
/* ----- Forms ----------------------- */
/* Change glow/highlight on form fields to UMN gold */
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
border-color: #ffcc33;
outline: 0;
outline: thin dotted 9;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px #ffcc33;
-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px #ffcc33;
box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px #ffcc33;
}

/* HEADER ********************************* */
/* ----- Header Region --------------- */
/* ----- Search Box ------------------ */
#search-block-form {
	margin-bottom: 0px;
}

#nav-search .region {
	background: none repeat scroll 0% 0% rgba(235, 235, 235, 0);
}	

/* ----- Logo ------------------------ */
/* ----- Site Title and Slogan ------- */

/* NAVIGATION ***************************** */
/* ----- Main Navigation ------------- */

.navbar-inverse .navbar-inner, .navbar .navbar-inner {
	background: #900021; /* Old browsers */
	background: -moz-linear-gradient(top, #900021 0%, #5b0013 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#900021), color-stop(100%,#5b0013)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #900021 0%,#5b0013 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #900021 0%,#5b0013 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #900021 0%,#5b0013 100%); /* IE10+ */
	background: linear-gradient(to bottom, #900021 0%,#5b0013 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#900021', endColorstr='#5b0013',GradientType=0 ); /* IE6-9 */

}

.navbar-inverse .nav > li >a, .navbar .nav > li >a {
	color: #ebebeb;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
}

.navbar-inverse .nav > .active > a, .navbar-inverse .nav>.active>a:hover, .navbar-inverse .nav>.active>a:focus, .navbar-inverse .nav li.dropdown.open>.dropdown-toggle, .navbar-inverse .nav li.dropdown.active>.dropdown-toggle, .navbar-inverse .nav li.dropdown.open.active>.dropdown-toggle, .navbar .nav > .active > a, .navbar .nav > li > a:focus, .navbar .nav > li > a:hover, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus, .navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle  {
	color: #ebebeb;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
	background-color: #900021;	
}

.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a, .dropdown-menu li > .active:hover {
	color: #7a0019;
	background: #ffde7a;
}

.dropdown-menu li > .active {
    background: #900021; /* Old browsers */
	background: -moz-linear-gradient(top, #900021 0%, #5b0013 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#900021), color-stop(100%,#5b0013)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #900021 0%,#5b0013 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #900021 0%,#5b0013 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #900021 0%,#5b0013 100%); /* IE10+ */
	background: linear-gradient(to bottom, #900021 0%,#5b0013 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#900021', endColorstr='#5b0013',GradientType=0 ); /* IE6-9 */
}

.navbar .nav li.dropdown.open > .dropdown-toggle .caret, .navbar .nav li.dropdown.active > .dropdown-toggle .caret, .navbar .nav li.dropdown.open.active > .dropdown-toggle .caret  {
	border-top-color: #616365;
	border-bottom-color: #616365;
}

/* ----- Secondary Navigation -------- */
/* ----- Breadcrumbs ----------------- */
.breadcrumb {background-color: #ffde7a;}

/* ----- First Sidebar Menu Blocks --- */
/* ----- Second Sidebar Menu Blocks -- */
/* ----- Admin Menu ------------------ */
/* ----- Pager Nav ------------------- */
.book-navigation .menu, .book-navigation .page-links {
border-color: #d4d4d4;
}

/* SIDEBARS ******************************* */

/* FOOTER ********************************* */
.region-footer {
    font: .8em sans-serif;
    padding: 10px;
    border: 1px solid #d4d4d4;
    border-radius: 5px;
}
.region-footer ul {
    list-style: none;
    width: 360px;
    float: right;
    text-align: right;
}
.region-footer ul li {
    display: inline-block;
    padding-left: 5px;
}
/* ----- Fat Footer ------------------ */

/* CONTENT ******************************** */
#content-col3 {border-top: 1px solid #d4d4d4;}

/* VIEWS ********************************** */

/* ----- Search Results -------------- */

/* CONTAINERS ***************************** */
/* ----- Blocks ---------------------- */
.agenda-block .cal_0 {
color: black;
background-color: #7a0019;
}

.agenda-block .cal_1 {
background-color: #616365;
}

.agenda-block .cal_2 {
background-color: #616365;
}

/* ----- Wells ----------------------- */
/* ----- Callouts and Blockquotes ---- */
/* ----- Pullquote Text -------------- */

/* POSTCARD LAYOUTS ********************** */

/* IMAGES ******************************** */
.image-large, .image-medium, .image-thumbnail, .thumbnail {
  display: block;
  padding: 4px;
  margin: 10px;
  float: right;
}

.node-training-site img, .views-view-grid img {
    float: left;
    margin-right: 10px;
    padding: 4px;
    border: 1px solid rgb(221,221,221);
    border-radius: 4px;
}   

/* ICONS ********************************* */

/* HELPER CLASSES ************************ */
/* ----- Style ----------------------- */
/* ----- Positioning ----------------- */
/* ----- Sizing ---------------------- */

/* GENERAL OVERRIDES ********************* */
/* ----- Bootstrap Overrides --------- */
/* ----- Field Collection Overrides -- */
/* ----- Field Label Overrides ------- */

/* ADMINISTRATION ************************ */
/* ----- Admin ----------------------- */
/* ----- User Block ------------------ */

/* MEDIA QUERIES ************************* */
/* ----- Responsive ------------------ */
/* ----- Print ----------------------- */
