[submodule "wp-content/themes/umnlmp"]
	path = wp-content/themes/umnlmp
	url = git@github.com:bdunnette/lmp-wordpress-theme.git
[submodule "sites/all/themes/zurb-foundation"]
	path = sites/all/themes/zurb-foundation
	url = http://git.drupal.org/project/zurb-foundation.git
